.backdrop {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

body.modal-open {
  overflow: hidden;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrap {
  overflow: hidden;
  position: relative;
}

.wrap__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.button {
  cursor: pointer;
  display: inline-block;
  padding: 10px 32px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: #2196f3;
  border-style: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button.button__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__icon::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/svg/icon_send.svg);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.features {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features {
    text-align: start;
  }
}

.features::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features--antenna::before {
  background-image: url(../images/svg/antenna.svg);
}

.features--clock::before {
  background-image: url(../images/svg/clock.svg);
}

.features--diagram::before {
  background-image: url(../images/svg/diagram.svg);
}

.features--astronaut::before {
  background-image: url(../images/svg/astronaut.svg);
}

.features__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: #212121;
}

.person {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.person__wrap {
  height: 320px;
}

@media screen and (min-width: 768px) {
  .person__wrap {
    height: 260px;
  }
}

.person__container {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
}

.person__title {
  margin-bottom: 10px;
  font-weight: 500;
  color: #212121;
}

.person__text {
  margin-bottom: 16px;
}

.cards {
  margin: -15px;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cards--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards__item {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .cards__item {
    width: calc(100% / 2);
  }
}

@media screen and (min-width: 1200px) {
  .cards__item {
    width: calc(100% / 4);
  }
}

@media screen and (min-width: 1200px) {
  .cards__item--three {
    width: calc(100% / 3);
  }
}

.client {
  width: calc(100% / 2);
}

@media screen and (min-width: 768px) {
  .client {
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client {
    width: calc(100% / 6);
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  border: 1px solid;
  border-radius: 4px;
  border-color: #afb1b8;
  fill: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.client__icom {
  fill: inherit;
}

.form__field {
  position: relative;
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__field--min-mb {
  margin-bottom: 20px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #757575;
  -webkit-transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  top: -4px;
  left: 16px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #2196f3;
}

.form__textarea + .form__label {
  top: 16px;
  left: 16px;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
}

.form__icon--width {
  width: 15px;
}

.form__textarea {
  display: block;
  padding: 13px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__link {
  color: #2196f3;
  text-decoration: underline;
}

.form__input:focus ~ .form__icon {
  fill: #2196f3;
}

.form__textarea:focus + .form__label,
.form__textarea:not(:placeholder-shown) + .form__label {
  top: -4px;
  left: 16px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #2196f3;
}

.form__textarea:focus ~ .form__icon,
.form__textarea:not(:placeholder-shown) ~ .form__icon {
  fill: #2196f3;
}

.form__button {
  display: block;
  margin: 0 auto;
}

.checkbox {
  -webkit-appearance: none;
}

.checkbox__label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #212121;
  border-radius: 4px;
}

@media screen and (max-width: calc(1200px - 1px)) {
  .checkbox__label::before {
    left: 0;
  }
}

.checkbox:checked + .checkbox__label::before {
  background-image: url(../images/svg/icon-check.svg);
  background-color: #2196f3;
  background-origin: border-box;
  border-color: transparent;
}

.checkbox__label {
  padding-left: 36px;
  cursor: pointer;
}

@media screen and (max-width: calc(1200px - 1px)) {
  .checkbox__label {
    font-size: 12px;
    line-height: 1.16;
    padding-left: 20px;
  }
}

.logo {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .logo {
    text-align: start;
  }
}

@media screen and (max-width: calc(768px - 1px)) {
  .logo {
    padding: 16px 0;
  }
}

.logo__text {
  color: #2196f3;
}

.nav {
  color: #212121;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .nav {
    margin-bottom: 0;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -10px auto;
}

@media screen and (min-width: 768px) {
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 -25px;
  }
}

.nav__item {
  margin: 15px 0;
}

@media screen and (min-width: 768px) {
  .nav__item {
    margin: 0 25px;
  }
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--accent {
  color: #2196f3;
}

.nav__link--accent::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 85px;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: calc(768px - 1px)) {
  .contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: inherit;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contact__icon {
  width: 16px;
  height: 16px;
  fill: inherit;
  margin-right: 10px;
}

/* Hero */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-480.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .box {
    background-image: url(../images/hero-480@2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-768.jpg);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero .box {
    background-image: url(../images/hero-768@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-1600.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero .box {
    background-image: url(../images/hero-1600@2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.layout__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.layout__section--no-gap-top {
  padding-top: 0;
}

@media screen and (max-width: calc(1200px - 1px)) {
  .layout__section--only-desktop {
    display: none;
  }
}

.layout__section--bgc-grey {
  background: #f5f4fa;
}

.layout__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
}

.menu__button {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.menu__button .icon__menu {
  fill: #212121;
  display: block;
}

.menu__button:hover .icon__menu,
.menu__button:focus .icon__menu {
  fill: #2196f3;
}

.menu__button .icon__cross {
  fill: #212121;
  display: none;
}

.menu__button:hover .icon__cross,
.menu__button:focus .icon__cross {
  fill: #2196f3;
}

.menu__button.is-open .icon__cross {
  display: block;
}

.menu__button.is-open .icon__menu {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  padding: 60px 10px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .menu {
    padding: 0;
  }
}

.menu.is-open {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: calc(768px - 1px)) {
  .menu {
    display: none;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.nav-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: -4px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .nav-card {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .nav-card {
    margin-bottom: 50px;
  }
}

.nav-card__link {
  display: inline-block;
  height: 38px;
  margin: 4px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #757575;
  background-color: #f5f4fa;
  font-family: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-card__link:hover, .nav-card__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.address {
  font-style: normal;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: start;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__text {
  color: #ffffff;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

.address__link:hover {
  color: #2196f3;
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .page-footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.page-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: -30px auto;
}

@media screen and (max-width: calc(768px - 1px)) {
  .page-footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__list {
    margin: 0;
  }
}

.page-footer__item {
  margin: 30px auto;
}

@media screen and (min-width: 1200px) {
  .page-footer__item {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__item:first-child {
    margin-right: 70px;
  }
}

.page-footer__logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.page-footer__title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .page-footer__title {
    text-align: start;
  }
}

.page-footer__social .social__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.page-footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .page-footer__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.page-footer__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  padding: 15px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 100%;
  max-width: 450px;
}

@media screen and (min-width: 1200px) {
  .page-footer__input {
    width: 350px;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -5px;
  padding: 0;
  list-style: none;
}

.social__item {
  padding: 5px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  padding: 4px;
  border-radius: 50%;
  background-color: inherit;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social__icon {
  width: 50%;
  height: 50%;
  fill: inherit;
}

@media screen and (min-width: 1200px) {
  .product {
    width: calc(100% / 3);
  }
}

.product__link {
  display: block;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__link:hover, .product__link:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.product__wrap {
  height: 294px;
}

.product__contains {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  -webkit-transform: translateY(105%);
          transform: translateY(105%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}

.product__text {
  margin: auto 0;
  padding: 10px 0;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.product__link:hover .product__contains,
.product__link:focus .product__contains {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.product__container {
  padding: 20px 24px;
}

.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: #212121;
}

.product__desc {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.is-hidden .modal {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.modal {
  position: relative;
  margin: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  width: 450px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 528px;
  }
}

.modal__title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

.button-close {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #212121;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.button-close:hover {
  fill: #2196f3;
}

.button-close__icon {
  width: 11px;
  height: 11px;
}
/*# sourceMappingURL=main.css.map */