.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -5px;

  padding: 0;
  list-style: none;

  &__item {
    padding: 5px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 4px;
    border-radius: 50%;

    background-color: inherit;
    fill: #afb1b8;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    background-color: #2196f3;
    fill: #ffffff;
  }

  &__icon {
    width: 50%;
    height: 50%;
    fill: inherit;
  }
}
