$primary-color: #ffffff;
$primary-text-color: #757575;
$footer-text-color: rgba(255, 255, 255, 0.6);
$primary-bgc: #f5f4fa;
$second-bgc: rgba(47, 48, 58, 0.8);
$footer-bgc: #2f303a;
$primary-title-color: #212121;
$accent-color: #2196f3;
$icon-color: #afb1b8;
$border-line-color: #ececec;
